<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test - Vinet</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9J737XJPQ8"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-9J737XJPQ8');
    </script>
</head>

<body>
    <div class="container">
        {% for theraputic_area in theraputic_areas %}
        <h2 class="hide">{{ theraputic_area }}</h2>
        {% for medication in data["CurrentMedications"] if theraputic_area in medication["TheraputicArea"] %}
        <div class="table">
            <div onclick="appearTable()" class="drug 
                    {{ 'yellow' if medication['Action'][0] == 'CAUTION' }}
                    {{ 'green' if medication['Action'][0] == 'GO' }}">
                <p>
                    <b>
                        {{ medication["Drugs"][0]["Generic"][0] }}
                    </b>
                </p>
                <p>
                    ({{ medication["Drugs"][0]["Trade"][0] }})
                </p>
            </div>
            <div class="middle">
                <div class="gene_item gene gene_t">
                    <p>Gene</p>
                </div>
                <div class="gene_item gene_t">
                    <p>Genotype</p>
                </div>
                <div class="gene_item phenotype_t phenotype gene_t
                    {{ 'yellow' if medication['Action'][0] == 'CAUTION' }}
                    {{ 'green' if medication['Action'][0] == 'GO' }}">
                    <p>Phenotype</p>
                </div>
                {% for gene in medication["GeneInfo"] %}
                <div class="gene_item gene">
                    <p>{{ gene["Gene"] }}</p>
                </div>
                <div class="gene_item">
                    <p>{{ gene["Genotype"] }}</p>
                </div>
                <div class="gene_item phenotype 
                    {{ 'yellow' if medication['Action'][0] == 'CAUTION' }}
                    {{ 'green' if medication['Action'][0] == 'GO' }}">
                    <p>{{ gene["Phenotype"] }}</p>
                </div>
                {% endfor %}
                <div class="action hide
                    {{ 'super-yellow' if medication['Action'][0] == 'CAUTION' }}
                    {{ 'super-green' if medication['Action'][0] == 'GO' }}">
                    <p>
                        {{ medication["Action"][0] }}
                    </p>
                </div>
                <div class="groupphenotype left_border hide
                    {{ 'super-yellow' if medication['Action'][0] == 'CAUTION' }}
                    {{ 'super-green' if medication['Action'][0] == 'GO' }}">
                    <p>
                        {{ medication["GroupPhenotype"] }}
                    </p>
                </div>
            </div>
            <div class="recommendation hide">
                <p>
                    {{ medication["Recommendation"] }}
                </p>
            </div>
        </div>
        {% endfor %}
        {% endfor %}
    </div>

    <script>
        function appearTable() {
            let gene_items = document.getElementsByClassName('gene_item');
            for (let i = 0; i < gene_items.length; i++) {
                gene_items[i].style.display = "block";
            }

            let hide_elements = document.getElementsByClassName('hide');
            for (let i = 0; i < hide_elements.length; i++) {
                hide_elements[i].style.display = "block";
            }

            let drugs = document.getElementsByClassName('drug');
            for (let i = 0; i < drugs.length; i++) {
                drugs[i].style.cursor = "auto";
                drugs[i].style.border = "none";
            }

            let tables = document.getElementsByClassName('table');
            for (let i = 0; i < tables.length; i++) {
                tables[i].style.borderTop = "none";
                tables[i].style.borderBottom = "3px solid #000";
            }

            let h2s = document.getElementsByTagName('H2');
            for (let i = 0; i < h2s.length; i++) {
                h2s[i].style.borderBottom = "3px solid #000";
            }
        }
    </script>
</body>

</html>